/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	color: rgb(255, 255, 103);
	font-family: "Brenner Mono Regular"; 
	font-style: Normal; 
	font-weight: 400;
	font-size: 34px;
}
.voice2 {
	font-weight: 600;
	color: rgb(255, 255, 255);
	font-family: "Brenner Sans Condensed";
	font-size: 40px;
}
.voice3 {
	color: rgb(111, 0, 0);
	font-size: 20px;
	font-family: "Brenner Bold Italic";
}

.voice4 {
	color: rgb(255, 255, 103);
	font-family: "Brenner Mono Regular";
	font-size: 34px;
}

.voice5 {
	color: rgb(255, 255, 103);
	font-family: "Brenner Mono Regular"; 
	font-style: Normal; 
	font-weight: 400;
	font-size: 34px;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
	opacity: 0;
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 400;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 400;
	font-size: 35px;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	font-weight: 600;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	font-weight: 800;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	font-style: italic;
}
/*yes, sir*/
.p1 span {
	opacity: 0;
}
.p1.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p1.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}

.p6 span {
	opacity: 0;
}
.p6.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p6.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p6.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}
.p6.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .5s;
}

.p38 span {
	opacity: 0;
}
.p38.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p38.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p38.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p39 span {
	opacity: 0;
}
.p39.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p39.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p39.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p41 span {
	opacity: 0;
}
.p41.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p41.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p41.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p42 span {
	opacity: 0;
}
.p42.on span:first-of-type {
	opacity: 1;
	transition: 0s .3s;
}
.p42.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p42.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p43 span {
	opacity: 0;
}
.p43.on span:first-of-type {
	opacity: 1;
	transition: 0s .3s;
}
.p43.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p43.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p45 span {
	opacity: 0;
}
.p45.on span:first-of-type {
	opacity: 1;
	transition: 0s .3s;
}
.p45.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}

.p0, .p1, .p2, .p4, .p5, .p6, .p7 {
	top: 80vh;
	left: 10vw;
	right: 10vw;
}

.p8, .p9, .p10, .p11, .p12, .p13, .p14, .p15, .p17, .p18, .p19, .p20, .p22, .p23, .p24, .p25, .p26, .p27, .p28, .p29, .p30, .p31, .p32, .p33, .p34, .p36, .p37, .p38, .p39, .p41, .p42, .p43{
	top: 65vh;
	left: 12vw;
	/*right: 20vw;*/
	background-color: rgb(0, 0, 0, 0.4);
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

.p16, .p21, .p35, .p40 {
	top: 65vh;
	left: 12vw;
	right: 12vw;
	background-color: rgb(0, 0, 0, 0.4);
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;	
}

.p8, .p10, .p11,  .p13, .p14, .p16, .p17, .p19, .p21, .p22, .p24, .p25, .p27, .p28, .p30, .p32, .p33,  .p35, .p36,  .p38,  .p40 {
	font-family: "Brenner Mono Regular Italic";
}


.p44 {
	top: 65vh;
	left: 41vw;
	right: 41vw;
	background-color: rgb(0, 0, 0, 0.4);
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.p45 {
	top: 65vh;
	left: 41vw;
	right: 41vw;
	background-color: rgb(0, 0, 0, 0.4);
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.p46 {
	top: 65vh;
	left: 28vw;
	right: 28vw;
	background-color: rgb(0, 0, 0, 0.4);
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.p47 {
	top: 65vh;
	left: 42vw;
	right: 42vw;
	background-color: rgb(0, 0, 0, 0.4);
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.p47 span {
	opacity: 0;
}
.p47.on span:first-of-type {
	opacity: 1;
	transition: 0s .3s;
}
.p47.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .3s;
}
.p47.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .4s;
}

.p48, .p49, .p50, .p51, .p52, .p53, .p54, .p55, .p56, .p57, .p58, .p59, .p60, .p61, .p62, .p63, .p64, .p65, .p66, .p67, .p68, .p69, .p70, .p71, .p72, .p73, .p74, .p75, .p76, .p77, .p78, .p79 {
	top: 80vh;
	left: 12vw;	
	right: 12vw
}

.p50 span {
	opacity: 0;
}
.p50.on span:first-of-type {
	opacity: 1;
}
.p50.on span:nth-of-type(2) {
	opacity: 1;
}
.p50.on span:nth-of-type(3) {
	opacity: 1;
}
.p50.on span:nth-of-type(4) {
	opacity: 1;
}
.p50.on span:nth-of-type(5) {
	opacity: 1;
}
.p50.on span:nth-of-type(6) {
	opacity: 1;
}
.p50.on span:nth-of-type(7) {
	opacity: 1;
}
.p50.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 1.3s;
}



.p52 span {
	opacity: 0;
}
.p52.on span:first-of-type {
	opacity: 1;
}
.p52.on span:nth-of-type(2) {
	opacity: 1;
}
.p52.on span:nth-of-type(3) {
	opacity: 1;
}
.p52.on span:nth-of-type(4) {
	opacity: 1;
}
.p52.on span:nth-of-type(5) {
	opacity: 1;
}
.p52.on span:nth-of-type(6) {
	opacity: 1;
}
.p52.on span:nth-of-type(7) {
	opacity: 1;
}
.p52.on span:nth-of-type(8) {
	opacity: 1;
}
.p52.on span:nth-of-type(9) {
	opacity: 1;
}
.p52.on span:nth-of-type(10) {
	opacity: 1;
}
.p52.on span:nth-of-type(11) {
	opacity: 1;
}
.p52.on span:nth-of-type(12) {
	opacity: 1;
}
.p52.on span:nth-of-type(13) {
	opacity: 1;
}
.p52.on span:nth-of-type(14) {
	opacity: 1;
}
.p52.on span:nth-of-type(15) {
	opacity: 1;
	transition: 0s 2.4s;
}

.p54 span {
	opacity: 0;
}
.p54.on span:first-of-type {
	opacity: 1;
	transition: 0s .3s;
}
.p54.on span:nth-of-type(2) {
	opacity: 0.8;
	font-family: "Brenner Sans Condensed";
	color: white;
	transition: 0s .8s;
}
.p54.on span:nth-of-type(3) {
	opacity: 1;
	font-family: "Brenner Mono Bold";
	transition: 0s 1.5s;
}
.p54.on span:nth-of-type(4) {
	opacity: 1;
	font-family: "Brenner Mono Bold";
	transition: 0s 1.5s;
}
.p54.on span:nth-of-type(5) {
	opacity: 1;
	font-family: "Brenner Mono Bold";
	transition: 0s 1.9s;
}
.p54.on span:nth-of-type(6) {
	opacity: 1;
	font-family: "Brenner Mono Bold";
	transition: 0s 1.9s;
}
.p54.on span:nth-of-type(7) {
	opacity: 1;
	font-family: "Brenner Mono Bold";
	transition: 0s 2.1s;
}
.p54.on span:nth-of-type(8) {
	opacity: 1;
	font-family: "Brenner Mono Bold";
	transition: 0s 2.1s;
}
.p54.on span:nth-of-type(9) {
	opacity: 1;
	font-family: "Brenner Mono Bold";
	transition: 0s 2.5s;
}
.p54.on span:nth-of-type(10) {
	opacity: 1;
	font-family: "Brenner Mono Bold";
	transition: 0s 2.5s;
}
.p54.on span:nth-of-type(11) {
	opacity: 1;
	font-family: "Brenner Mono Bold";
	transition: 0s 2.8s;
}
.p54.on span:nth-of-type(12) {
	opacity: 1;
	font-family: "Brenner Mono Bold";
	transition: 0s 2.8s;
}
.p54.on span:nth-of-type(13) {
	opacity: 1;
	font-family: "Brenner Mono Bold Italic";
	transition: 0s 2.9s;
}

.p57, .p65, .p67, .p69, .p71, .p73, .p75, .p77 {
	font-family: "Brenner Mono Regular Italic";
}


.p57 span {
	opacity: 0;
}
.p57.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p57.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p57.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p58 span {
	opacity: 0;
}
.p58.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p58.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p58.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p61 span {
	opacity: 0;
}
.p61.on span:first-of-type {
	opacity: 1;
}
.p61.on span:nth-of-type(2) {
	opacity: 1;
}
.p61.on span:nth-of-type(3) {
	opacity: 1;
}
.p61.on span:nth-of-type(4) {
	opacity: 1;
}
.p61.on span:nth-of-type(5) {
	opacity: 1;
}
.p61.on span:nth-of-type(6) {
	opacity: 1;
}
.p61.on span:nth-of-type(7) {
	opacity: 1;
}
.p61.on span:nth-of-type(8) {
	opacity: 1;
}
.p61.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 2.1s;
}

.p63 span {
	opacity: 0;
}
.p63.on span:first-of-type {
	opacity: 1;
}
.p63.on span:nth-of-type(2) {
	opacity: 1;
}
.p63.on span:nth-of-type(3) {
	opacity: 1;
}
.p63.on span:nth-of-type(4) {
	opacity: 1;
}
.p63.on span:nth-of-type(5) {
	opacity: 1;
}
.p63.on span:nth-of-type(6) {
	opacity: 1;
}
.p63.on span:nth-of-type(7) {
	opacity: 1;
}
.p63.on span:nth-of-type(8) {
	opacity: 1;
}
.p63.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 2.1s;
}

.p65 span {
	opacity: 0;
}
.p65.on span:first-of-type {
	opacity: 1;
	transition: 0s .2s;
}
.p65.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .3s;
}

.p66 span {
	opacity: 0;
}
.p66.on span:first-of-type {
	opacity: 1;
	transition: 0s .3s;
}
.p66.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}

.p69 span {
	opacity: 0;
}
.p69.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p69.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p69.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p70 span {
	opacity: 0;
}
.p70.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p70.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p70.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p71 span {
	opacity: 0;
}
.p71.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p71.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p71.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p72 span {
	opacity: 0;
}
.p72.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p72.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .5s;
}
.p72.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .7s;
}

.p73 span {
	opacity: 0;
}
.p73.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p73.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p73.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p74 span {
	opacity: 0;
}
.p74.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p74.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p74.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p75 span {
	opacity: 0;
}
.p75.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p75.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p75.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p76 span {
	opacity: 0;
}
.p76.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p76.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}
.p76.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p78 span {
	opacity: 0;
}
.p78.on span:first-of-type {
	opacity: 1;
	transition: 0s .3s;
}
.p78.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .5s;
}
.p78.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .7s;
}
.p78.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .9s;
}
.p78.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
}
/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
.sound1 {
	
}

/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound1 #video-mask {
	
}


/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	background-color: rgb(0, 0, 0);
}
#video-container {
	margin: auto;
}
#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}


@keyframes shake {
	10%, 90% {
		transform: translate3d(-4px, 0, 0);
	  }
	  
	  20%, 80% {
		transform: translate3d(5px, 0, 0);
	  }
	
	  30%, 50%, 70% {
		transform: translate3d(-7px, 0, 0);
	  }
	
	  40%, 60% {
		transform: translate3d(7px, 0, 0);
	  }
  }

  @keyframes shake2 {
	10%, 90% {
		transform: translate3d(-4px, 0, 0);
	  }
	  
	  20%, 80% {
		transform: translate3d(5px, 0, 0);
	  }
	
	  30%, 50%, 70% {
		transform: translate3d(-7px, 0, 0);
	  }
	
	  40%, 60% {
		transform: translate3d(7px, 0, 0);
	  }
  }

  @keyframes shake3 {
	10%, 90% {
		transform: translate3d(-4px, 0, 0);
	  }
	  
	  20%, 80% {
		transform: translate3d(5px, 0, 0);
	  }
	
	  30%, 50%, 70% {
		transform: translate3d(-7px, 0, 0);
	  }
	
	  40%, 60% {
		transform: translate3d(7px, 0, 0);
	  }
  }

  @keyframes alarm1
  {
	0% {
	  background-color: rgb(18, 0, 84);
	}
	50% {
		background-color: rgba(3, 0, 49, 0.151);
	}
	80% {
		background-color: rgb(0, 0, 115);
	}
	100% {
		background-color: black;
	}
  }

  @keyframes alarm2 
  {
	0% {
	  background-color: rgb(58, 46, 0);
	}
	50% {
		background-color: rgba(255, 0, 0, 0.151);
	}
	80% {
		background-color: rgb(255, 60, 60);
	}
	100% {
		background-color: black;
	}
  }

  @keyframes turn {
	50% {transform: rotate(20deg);}
  }

  @keyframes turn2 {
	50% {transform: rotate(20deg);}
  }


  @keyframes alarm3
  {
	0% {
	  background-color: rgb(104, 118, 27);
	}
	50% {
		background-color: rgba(41, 60, 1, 0.151);
	}
	80% {
		background-color: rgb(70, 95, 23);
	}
	100% {
		background-color: black;
	}
  }

  @keyframes talking {
	50% {box-shadow: 0px -30px 200px rgb(120, 120, 120);}
  }

  @keyframes talking2 {
	50% {box-shadow: 0px -30px 200px rgb(120, 120, 120);}
  }

  @keyframes alarm4
  {
	0% {
		background-color: rgb(104, 118, 27);
	  }
	  50% {
		  background-color: rgba(41, 60, 1, 0.151);
	  }
	  80% {
		  background-color: rgb(70, 95, 23);
	}
	100% {
		background-color: black;
	}
  }

  @keyframes alarm5
  {
	0% {
		background-color: rgb(104, 118, 27);
	  }
	  50% {
		  background-color: rgba(41, 60, 1, 0.151);
	  }
	  80% {
		  background-color: rgb(70, 95, 23);
	}
	100% {
		background-color: black;
	}
  }

  @keyframes flitsen
  {
	0% {
	  background-color: rgb(255, 255, 255);
	}
	100% {
		background-color: rgb(0, 0, 0);
	}
  }

  @keyframes flitsen2
  {
	0% {
	  background-color: rgb(255, 255, 255);
	}
	100% {
		background-color: rgb(0, 0, 0);
	}
  }

  @keyframes flitsen3
  {
	0% {
	  background-color: rgb(255, 255, 255);
	}
	100% {
		background-color: rgb(0, 0, 0);
	}
  }

  @keyframes flitsen4
  {
	0% {
	  background-color: rgb(255, 255, 255);
	}
	100% {
		background-color: rgb(0, 0, 0);
	}
  }

  @keyframes flitsenstop
  {
	0% {
	  background-color: rgb(255, 255, 255);
	}
	100% {
		background-color: rgb(255, 255, 255);
	}
  }

  @keyframes down {
	0%   {top: 0px;}
	50%  {top: 75px}
	100%  {top: 0px;}

  }

  @keyframes flyright {
	0%   {left: 0px;}
	50%  {left: 200px}
	100%  {left: 0px;}
  }

  @keyframes flyright2 {
	0%   {left: 0px;}
	50%  {left: 200px}
	100%  {left: 0px;}
  }

  @keyframes groter {
	0% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1.2);
	}
}

@keyframes updown {
	0%   {top: 0px;}
	25%  {top: 80px}
	50%  {top: 0px;}
	75%  {top: -80px;}
	100% {top: 0px;}
  }

 /* @keyframes updown2 {
	0%   {top: 0px;}
	25%  {top: 80px}
	50%  {top: 0px;}
	75%  {top: -80px;}
	100% {top: 0px;}
  }*/

  @keyframes updownstop {
	0%   {top: 0px;}
	25%  {top: 0px}
	50%  {top: 0px;}
	75%  {top: 0px;}
	100% {top: 0px;}
  }

  @keyframes flitsen5
  {
	0% {
	  background-color: rgb(255, 255, 255);
	}
	100% {
		background-color: rgb(0, 0, 0);
	}
  }

  @keyframes colorChange {
	0% {
	  background: radial-gradient(ellipse farthest-corner at left top, #616161 0%, #565656 8%, #323232 25%, #191919 62.5%, #000000 100%)
	}
	50% {
	  background: radial-gradient(ellipse farthest-corner at top, #616161 0%, #565656 8%, #323232 25%, #191919 62.5%, #000000 100%)
	}
	100% {
	  background: radial-gradient(ellipse farthest-corner at right top, #616161 0%, #565656 8%, #323232 25%, #191919 62.5%, #000000 100%)
	}
  }

  @keyframes tring {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes spanning {
	50% {box-shadow: 0px -30px 200px 100px rgb(107, 0, 0);}
  }

  @keyframes groterkleiner {
	0% {
		transform: scale(1.0);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.0);
	}
}
  
/* link alarm
https://codepen.io/francescostella/pen/NWWWMY*/

   /*{
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	  }
	  
	  20%, 80% {
		transform: translate3d(2px, 0, 0);
	  }
	
	  30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	  }
	
	  40%, 60% {
		transform: translate3d(4px, 0, 0);
	  }
  }*/


  .sound0 #video-placeholder {
	position: relative;
	animation-name: shake;
	animation-duration: 1s;
	animation-iteration-count: 20;
  }

  .sound1 {
	animation-name: alarm1;
	animation-duration: 1s;
	animation-iteration-count: 1; 
 }

  .sound2  {
	animation-name: alarm2;
	animation-duration: 0.5s;
	animation-iteration-count: 2;
  }
 
  /*.sound3 #video-placeholder {
	animation-name: turn;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
  }*/

  .sound3 #video-container {
	animation-name: turn2;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
  } 


  /*.sound4 #video-placeholder {
	position: relative;
	animation-name: down;
	animation-duration: 6s;
	animation-iteration-count: 1;
  }*/

  .sound4 {
	animation-name: alarm3;
	animation-duration: 1s;
	animation-iteration-count: 1; 
  }

 .sound4 #video-placeholder {
	position: relative;
	animation-name: shake2;
	animation-duration: 1s;
	animation-iteration-count: 20;
  }


  .sound5 #video-mask {
	animation-name: talking;
	animation-duration: 3.2s;
	animation-iteration-count: 4;
  }


  .sound6 #video-placeholder {
	position: relative;
	animation-name: flyright;
	animation-duration: 1.4s;
	animation-iteration-count: 1;
  }

  .sound6 #video-mask {
	position: relative;
	animation-name: flyright2;
	animation-duration: 1.4s;
	animation-iteration-count: 1;
  }

  .sound7 #video-mask {
	animation-name: talking2;
	animation-duration: 3.2s;
	animation-iteration-count: 2;
  }

  .sound7 {
	animation-name: alarm4;
	animation-duration: 1s;
	animation-iteration-count: 1; 
  }

  .sound8 #video-mask {
	animation-name: down;
	animation-duration: 1.2s;
	animation-iteration-count: 1; 
  }


  .sound9 {
	animation-name: alarm5;
	animation-duration: 0.6s;
	animation-iteration-count: 1; 
  }


  .sound10 {
	animation-name: flitsen;
	animation-duration: 1.4s;
	animation-iteration-count: 10;
  }

  .sound10 #video-mask {
	animation-name: groter;
	animation-duration: 42s;
	animation-iteration-count: 1; 
	animation-timing-function: ease-in;
  }

  .sound11 {
	animation-name: flitsen2;
	animation-duration: 1s;
	animation-iteration-count: 10;
  }

  .sound12 {
	animation-name: flitsen3;
	animation-duration: 0.6s;
	animation-iteration-count: 24;
  }

  .sound13 {
	animation-name: flitsen4;
	animation-duration: 0.3s;
	animation-iteration-count: 24;
  }

  .sound14 {
	animation-name: flitsenstop;
	animation-duration: 11s;
	animation-iteration-count: 1;
  }

.sound15 #video-mask {
	animation-name: updown;
	animation-duration: 10s;
	animation-iteration-count: 10; 
	animation-timing-function: linear;
  }

  .sound15 {
	animation-name: colorChange;
	animation-duration: 1s;
	animation-iteration-count: 43;
  }

  .sound16 #video-container {
	animation-name: tring;
	animation-duration: 1.1s;
	animation-iteration-count: 1;
  } 
  .sound17 #video-container {
	animation-name: spanning;
	animation-duration: 10s;
	animation-iteration-count: 2;
	animation-timing-function: ease-in;
  }

  .sound17 #video-mask {
	animation-name: groterkleiner;
	animation-duration: 10s;
	animation-iteration-count: 2;
	animation-timing-function: ease-in;
  }

  .sound19 #video-mask {
	animation-name: updownstop;
	animation-duration: 10s;
	animation-iteration-count: 10; 
	animation-timing-function: linear;
  }


  